.hidden {
  display: none;
}

.container {
  max-width: 625px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-wrap {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-half,
.column-full {
  width: 50%;
}

.column-full {
  padding: 3px 0;
}

.country-flag {
  width: 100%;
  max-height: 280px;
  padding-bottom: 2.5rem;
  padding-top: 0.938rem;
}

.lds-ring {
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 245px;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 2.45rem;
}

@media screen and (max-width: 768px) {
  .column-full {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  i {
    padding-right: 0.5rem;
  }

  .list-flag {
    padding-left: 0.5rem;
  }

  .lds-ring {
    min-height: 229px;
    margin-bottom: 0;
  }

  .country-flag {
    min-height: 225px;
    max-height: 225px;
  }
}
