.hidden {
  display: none;
}

.container {
  max-width: 625px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-wrap {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-half,
.column-full {
  width: 50%;
}

.column-full {
  padding: 3px 0;
}

@media screen and (max-width: 620px) {
  .column-full {
    width: 100%;
  }
}
