* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  color: #4fc3d0;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
}

i {
  padding-top: 3.438rem;
  padding-left: 0.938rem;
}

i:hover {
  cursor: pointer;
}
