.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.navbar {
  background-color: #4fc3d0;
  height: 75px;
}

.background-color {
  background-color: #4fc3d0;
}

.text-align-center {
  text-align: center;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.header-button {
  background-color: #4fc3d0;
  border: none;
  font-family: "Chelsea Market", cursive;
  font-size: 2.2rem;
  color: white;
  padding-top: 15px;
  margin-left: 15px;
}

.list-button {
  background-color: #4fc3d0;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: white;
  padding-top: 20px;
  margin-right: 15px;
}

.header-div {
  display: flex;
  justify-content: space-between;
}

.list-button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

.header-button:hover {
  cursor: pointer;
}

.globe-header {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  color: #4fc3d0;
}

.globe-button {
  border: none;
  background-color: white;
  transition: transform 0.5s;
}

.globe-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.globe-image {
  max-width: 45%;
  padding-left: 10px;
}

.globe-wrapper {
  padding-top: 115px;
}

.study-flag {
  width: 100%;
  max-height: 280px;
  padding-bottom: 40px;
  padding-top: 15px;
}

.answer-flag {
  width: 100%;
  max-height: 280px;
  padding-bottom: 40px;
  padding-top: 15px;
}

.study-display {
  padding: 90px 50px;
  border: #015c75 4.5px solid;
  border-radius: 2.5%;
  margin-left: 15px;
  margin-right: 15px;
}

.answer-display {
  padding: 35px;
  border: #015c75 4.5px solid;
  border-radius: 2.5%;
  margin-left: 15px;
  margin-right: 15px;
}

.country-display {
  padding: 35px;
  border: #015c75 4.5px solid;
  border-radius: 2.5%;
  margin-left: 15px;
  margin-right: 15px;
}

.flag-display {
  border: #015c75 4.5px solid;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  padding: 6px;
  max-height: 8.25rem;
}

.flag-wrapper {
  min-height: 25rem;
}

.list-flag {
  height: 110px;
  width: 175px;
  margin-left: 35px;
  padding-top: 3px;
}

.country-name {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
  padding-top: 35px;
}

.answer-name {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
  padding-top: 35px;
}

.padding-top {
  padding-top: 20px;
}

.line {
  width: 100%;
  border-bottom: 2px solid white;
}

.save-button {
  font-family: Roboto, sans-serif;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 3.125rem;
}

.back-button {
  font-family: Roboto, sans-serif;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 3.125rem;
}

.back-button:hover {
  cursor: pointer;
}

.answer-button {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 80px;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 2.5rem;
}

.answer-button:hover {
  cursor: pointer;
}

.answer-button-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  padding: 14px 0;
}

.save-button-wrapper {
  margin-left: 15px;
  padding: 14px 0;
  padding-right: 5px;
}

.back-button-wrapper {
  margin-left: 15px;
  padding: 14px 0;
  padding-right: 5px;
}

.save-button:hover {
  cursor: pointer;
}

.next-button {
  font-family: Roboto, sans-serif;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background-color: #4fc3d0;
  color: white;
  font-size: 3.125rem;
}

.study-next-button {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.4em;
  background-color: #4fc3d0;
  color: white;
  font-size: 3.125rem;
}

.study-next-button:hover {
  cursor: pointer;
}

.next-button:hover {
  cursor: pointer;
}

.next-button-wrapper {
  margin-right: 15px;
  padding: 14px 0;
  padding-left: 5px;
}

.study-button-wrapper {
  padding: 10px 15px;
}

.study-button {
  font-family: Roboto, sans-serif;
  width: 65%;
  height: 65px;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 2.8125rem;
  position: fixed;
  bottom: 1%;
  left: 17.5%;
}

.study-button:hover {
  cursor: pointer;
}

.list-text {
  color: #4fc3d0;
  font-family: Roboto, sans-serif;
  font-size: 1.75rem;
}

.empty-list-text {
  color: #4fc3d0;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

.modal {
  max-width: 325px;
  height: 50px;
}

.modal-container {
  border-radius: 0.35em;
  background-color: white;
  width: 350px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-button {
  width: 80px;
  margin: 5px;
}

.cancel-button {
  font-size: 1.25rem;
  background-color: #015c75;
  color: white;
  border: none;
  border-radius: 0.5em;
  width: 130px;
  height: 35px;
}

.cancel-button:hover {
  cursor: pointer;
}

.x-button {
  font-size: 1.25rem;
  background-color: #015c75;
  color: white;
  border: none;
  border-radius: 0.5em;
  width: 100px;
  height: 35px;
}

.x-button:hover {
  cursor: pointer;
}

.delete-button {
  font-size: 1.25rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.5em;
  width: 130px;
  height: 35px;
}

.delete-button:hover {
  cursor: pointer;
}

.dark-background {
  background: rgb(0 0 0 / 75%);
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

.modal-display {
  justify-content: center;
  align-items: center;
}

.delete-text {
  color: #015c75;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
