.navbar {
  background-color: #4fc3d0;
  height: 75px;
}

.background-color {
  background-color: #4fc3d0;
}

.text-align-center {
  text-align: center;
}

.display-flex {
  display: flex;
}

.header-button {
  background-color: #4fc3d0;
  border: none;
  font-family: "Chelsea Market", cursive;
  font-size: 35px;
  color: white;
  padding-top: 15px;
  margin-left: 15px;
}

.list-button {
  background-color: #4fc3d0;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  margin-right: 15px;
}

.header-div {
  display: flex;
  justify-content: space-between;
}

.list-button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

.header-button:hover {
  cursor: pointer;
}

.globe-header {
  text-align: center;
  font-size: 25px;
  color: #4fc3d0;
}

.globe-button {
  border: none;
  background-color: white;
  transition: transform 0.5s;
}

.globe-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.globe-image {
  width: 45%;
  padding-left: 15px;
}

.globe-wrapper {
  padding-top: 115px;
}

.country-flag {
  width: 100%;
  height: 280px;
  padding-bottom: 40px;
  padding-top: 15px;
}

.country-display {
  padding: 40px;
  border: #015c75 4.5px solid;
  border-radius: 2.5%;
  margin-left: 15px;
  margin-right: 15px;
}

.flag-display {
  border: #015c75 4.5px solid;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  padding: 6px;
}

.list-flag {
  height: 110px;
  width: 175px;
}

.country-name {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
  padding-top: 35px;
}

.padding-top {
  padding-top: 20px;
}

.line {
  width: 100%;
  border-bottom: 2px solid white;
}

.save-button {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 85px;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 50px;
}

.save-button-wrapper {
  margin-left: 15px;
  padding: 14px 0;
  padding-right: 5px;
}

.save-button:hover {
  cursor: pointer;
}

.next-button {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 85px;
  border: none;
  border-radius: 0.4em;
  background-color: #4fc3d0;
  color: white;
  font-size: 50px;
}

.next-button:hover {
  cursor: pointer;
}

.next-button-wrapper {
  margin-right: 15px;
  padding: 14px 0;
  padding-left: 5px;
}

.study-button-wrapper {
  padding: 10px 15px;
}

.study-button {
  font-family: Roboto, sans-serif;
  width: 65%;
  height: 65px;
  border: none;
  border-radius: 0.4em;
  background-color: #015c75;
  color: white;
  font-size: 45px;
  position: fixed;
  bottom: 1%;
  left: 17.5%;
}

.study-button:hover {
  cursor: pointer;
}

.list-text {
  color: #4fc3d0;
  font-family: Roboto, sans-serif;
  font-size: 30px;
}

.empty-list-text {
  color: #4fc3d0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  margin: 0;
}
